body {
}
h1 {
    color: #FFD23F;
    font-size: 65px;
}
.center {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    text-align: center;
}